<!-- componente principal citas medicas -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Citas médicas</h1>
          
            <button *ngIf="isList && !isMedico" class="btn btn-primary" [routerLink]="['/citas-medicas/crear-cita-medica']">Crear cita médica</button>
            <button *ngIf="isCreate || isDetail" class="btn btn-primary" [routerLink]="['/citas-medicas/lista-citas-medicas']">Lista citas médicas</button>

          
        </div>
         
       
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Inicio</a></li>
            <li class="breadcrumb-item active">Citas médicas</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- ETIQUE QUE PERMITE LAS RUTAS CONTEDIDO DINAMICO -->
  <router-outlet></router-outlet>
  <!-- /.content -->
</div>



