<!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->
  <app-nav-bar></app-nav-bar>  
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <app-side-bar></app-side-bar>

  <!-- Content Wrapper. Contains page content -->
  
  <!-- /.content-wrapper -->
  <router-outlet></router-outlet>
  
  <!-- Footer -->
  <app-footer></app-footer>
  <!-- /.footer -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
