<!-- Main content -->
    <section class="content">
          <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let medico of Medicos; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{medico.nombres}}</td>
                    <td>{{medico.email}}</td>
                    <td>
                        <span (click)="removeMedico(medico)" class="btn btn-danger">Delete</span> &nbsp;
                        <span class="btn btn-primary">Edit</span>
                    </td>
                  </tr>
              </tbody>
          </table>
      </section>
