<!-- Componente principal de especialidades -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Especialidades</h1>
            <button *ngIf="isList" class="btn btn-primary" [routerLink]="['/especialidades/crear-especialidad']">Crear Especialidad</button>
            <button *ngIf="isCreate" class="btn btn-primary" [routerLink]="['/especialidades/lista-especialidades']">Lista Especialidades</button>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a [routerLink]="['/']">Inicio</a></li>
              <li class="breadcrumb-item active">Especialidades</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- ETIQUETA DE RUTAS CONTENIDO DINAMICO  -->
    <router-outlet></router-outlet>
    <!-- /.content -->
  </div>