<!-- Tabla para presentar medicamentos -->
<!-- Main content -->
    <section class="content">
          <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let medicamento of Medicamentos; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{medicamento.nombre}}</td>
                    <td>{{medicamento.descripcion}}</td>
                    <td>
                        <span (click)="removeMedicamento(medicamento)" class="btn btn-danger">Borrar</span> &nbsp;
                        <span class="btn btn-primary" [routerLink]="['/medicamentos/crear-medicamento/'+medicamento.uid]">Editar</span>
                    </td>
                  </tr>
              </tbody>
          </table>
      </section>
