<!-- Main content -->
    <section class="content">
          <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
                    <th scope="col">Accción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let paciente of Pacientes; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{paciente.nombres}}</td>
                    <td>{{paciente.email}}</td>
                    <td>
                        <span (click)="removePaciente(paciente)" class="btn btn-danger">Borrar</span> &nbsp;
                        <span class="btn btn-primary" [routerLink]="['/pacientes/crear-paciente/'+ paciente.id]">Editar</span>
                    </td>
                  </tr>
              </tbody>
          </table>
      </section>
