
.content {
    padding: 30px;
}

.contenedor-1 {
    display: flex;
    justify-content: space-between;
    float: right;
    width: 100%;
}

.contenedor-2 {
    width: 100%;
}

.contenedor-1 {
    width: 100%;
}