<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Reportes Estadisticos</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Inicio</a></li>
            <li class="breadcrumb-item active">Reportes Estadisticos</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

<!-- Main content -->
      <section class="content">
          <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Genero</th>
                    <th scope="col">Ciudad</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let paciente of Pacientes1; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{paciente.nombres}}</td>
                    <td>{{paciente.edad}}</td>
                    <td>{{paciente.genero}}</td>
                    <td>{{paciente.ciudad}}</td>
                  </tr>
              </tbody>
          </table>
      </section>
      

      <div class="mb-3 mt-3">
        <label>Especialidad</label>
        <ng-select  class="form-select form-select-lg"
            [items]="Especialidades"
            [multiple]="false"
            [closeOnSelect]="true"
            [searchable]="false"
            bindLabel="nombre"
            placeholder="Seleccione"
            (change)="especialidadfiltro($event)">
        </ng-select>
        
    </div>

      
      
      
      <section class="content">
        <table class="table">
          <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombres</th>
                  <th scope="col">Edad</th>
                  <th scope="col">Genero</th>
                  <th scope="col">Ciudad</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let medico of medicosfiltrados; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{medico.nombres}}</td>
                  <td>{{medico.edad}}</td>
                  <td>{{medico.genero}}</td>
                  <td>{{medico.ciudad}}</td>
                </tr>
            </tbody>
        </table>
    </section>
</div>