<!-- TABLA PARA LISTAR CITAS MEDICAS -->
<!-- Main content -->
    <section class="content">
          <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Horario</th>
                    <th scope="col">Médico</th>
                    <th scope="col">Paciente</th>
                    <th scope="col">Especialidad</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let citaMedica of citasMedicas; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{citaMedica.fecha}}</td>
                    <td>{{citaMedica.horario}}</td>
                    <td>{{citaMedica.medico.nombres}}</td>
                    <td>{{citaMedica.paciente.nombres}}</td>
                    <td>{{citaMedica.especialidad.nombre}}</td>
                    <td>{{citaMedica.estado}}</td>
                    <td>
                        <span *ngIf="tipoUsuario === 'empleado'" (click)="removeCitaMedica(citaMedica)" class="btn btn-danger">Borrar</span> &nbsp;
                        <span *ngIf="tipoUsuario !== 'paciente'" class="btn btn-primary" [routerLink]="['/citas-medicas/crear-cita-medica/'+citaMedica.id]">Editar</span> &nbsp;
                        <span class="btn btn-danger" [routerLink]="['/citas-medicas/detalle-cita-medica/'+citaMedica.id]">Detalle</span>
                    </td>
                  </tr>
              </tbody>
          </table>
      </section>
