<div class="container-fluid col-6">
    <form [formGroup]="especialidadForm" (ngSubmit)="ngSubmit()" novalidate>

          
        <div class="mb-3">
            <label>Id</label>
            <input [ngClass]="{'is-invalid':invalidField('id')}" type="text" formControlName="id" class="form-control" placeholder="Apellidos" required>
            <div class="invalid-feedback">Por favor llene este campo correctamente.</div>
        </div>
    
        <div class="mb-3">
            <label>Nombre</label>
            <input [ngClass]="{'is-invalid':invalidField('nombre')}" type="text" formControlName="nombre" class="form-control" placeholder="nombres" required>
            <div class="invalid-feedback">Por favor llene este campo correctamente.</div>
        </div>
    
        <div class="mb-3">
            <label>Descripción</label>
            <input [ngClass]="{'is-invalid':invalidField('descripcion')}" type="text" formControlName="descripcion" class="form-control" placeholder="descripcion" required>
            <div class="invalid-feedback">Por favor llene este campo correctamente.</div>
        </div>
    
           
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">{{isEdit ? 'Editar Especialidad': 'Crear Especialidad'}}</button>
        </div>
    
    </form>
</div>
